body {
  background: url("./bg.jpg");
  background-size: cover;
  background-position: center;
  height: 85vh;
  width: 90vw;
}

.select {
  width: 60vw;
  height: 75px;

  margin: 20px auto;
  margin-top: 80px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.28);
  display: grid;
  place-items: center;
}

select {
  width: 500px;
  height: 40px;
  border-radius: 4px;
  text-indent: 10px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.28);
  color: gray;
}
